@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Saira+Condensed&family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

body {
    min-width: 900px;
}

nav {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 6px;
}

.logo-top,
.logo-bottom {
    display: block;
    line-height: 110%;
}

.logo-top {
    font-size: 30px;
}

.logo-bottom {
    font-size: 15px;
    letter-spacing: calc(15px * 0.24);
}

.navbar-nav {
    font-size: 20px;
}

.navbar-toggler {
    border: none;
}

button:focus {
    border: none;
    outline: none;
    --bs-navbar-toggler-focus-width: 0.1rem;
}

.btn {
    font-size: 20px;
    font-weight: bold;
}

.btn-orange {
    border: 1px solid var(--orange);
}

.btn-orange:hover {
    background-color: var(--orange);
    color: white;
}

.btn-purple {
    border: 1px solid var(--purple);
}

.btn-purple:hover {
    background-color: var(--purple);
    color: white;
}

.nav-link {
    color: black;
    position: relative;
    transition: color 0.5s ease-in-out;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 8px;
    width: 0;
    height: 2px;
    background-color: var(--purple);
    transition: width 0.5s ease-in-out;
}

.nav-link:hover::before {
    width: calc(100% - 16px);
}

.nav-link:hover {
    color: var(--purple);
}

.active {
    color: var(--purple) !important;
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 8px;
    width: calc(100% - 16px);
    height: 2px;
    background-color: var(--purple);
}

.underline-disabled::before {
    content: none;
}

/* .underline-disabled:focus::after {
    content: none;
} */

@media (max-width: 992px) {

    .nav-link:hover::before,
    .active::after {
        left: 0;
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        gap: 0;
    }

    .col-lg-5 {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        gap: .5rem;
    }
}

main #home .col-lg-5 h2 {
    font-size: 30px;
    line-height: 55px;
    color: var(--white);
}

main #home .col-lg-5 .logo-text {
    font-size: 36px;
    letter-spacing: 0.1rem;
}

section {
    margin: 30px auto;
}

main #home .col-lg-5 button {
    font-size: 16px;
    padding: 10px;
    width: 240px;
    background-color: var(--purple);
    color: white;
    border: 1px solid var(--purple);
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* main #home .col-lg-5 button:hover {
    background-color: white;
    color: var(--purple);
} */

main #home .col-lg-5 button:hover {
    background-color: var(--purple);
    color: white;
    opacity: .9;
}

main #about {
    background-color: #BDB0F3;
}

main #about .col-lg-7 h2 {
    font-size: 32px;
    line-height: 100%;
}

main #about .col-lg-7 .logo-text {
    font-size: 36px;
    letter-spacing: 0.1rem;
}

main #about .col-lg-7 li {
    font-size: 20px;
}

footer {
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.25);
}

#about .container-xxl .row {
    padding: 60px 0;
}

/* #service {
    text-align: center;
} */

/* .service-desc {
    width: 800px;
} */

/* .custom {
    max-width: 900px;
} */

#service .col-6 .card {
    background-color: #FDDCBE;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);

}

.btn-submit {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-submit:hover {
    opacity: .9;
}

.auth-box {
    gap: 5vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

@media screen and (max-width: 1072px) {
    .auth-box {
        gap: 0;
    }
}

form {
    font-size: 18px;
    margin-top: 30px;
}

.form-control {
    padding: 13px 20px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
}

.form-control:focus {
    border-color: rgb(208, 161, 255);
    box-shadow:0 0 0 .25rem rgba(155,91,220,.25);
}

.form-label {
    font-weight: 500;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.hidden {
    display: none;
}

/* #login {
    display: none;
} */
