.breadcrumb-item.active {
    color: var(--dark-purple);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--dark-purple);
}

.table thead th {
    background-color: var(--dark-purple);
    color: white;
}

.table tbody tr td {
    text-align: center;
}

.table tbody tr td,
.table thead tr th {
    border: none;
    text-align: center;
}

.table tbody tr td:first-child,
.table thead tr th:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.table tbody tr td:last-child,
.table thead tr th:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: inherit;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table.table-display {
    table-layout: fixed;
    width: 100%;
}

.table-display td {
    width: 50%;
}

.table caption {
    caption-side: top;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    color: var(--dark-purple);
}

.tag {
    width: 100px;
    height: 100px;
    background-color: #930A0A;
    border-radius: 50%;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
}

.profile-information table tr td {
    text-align: left;
    padding: 8px 10px;
}

.poster-group {
    display: flex;
    flex-direction: row;
    gap: calc((100% - 5 * 162px) / 4);
    overflow: auto;
}

.sidebar.close~.section main .poster-group {
    gap: calc((100% - 6 * 162px) / 5);
}

.poster-image {
    border-radius: 8px;
}

.poster-title {
    width: 158px;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    line-height: 115%;
}

.test-type {
    font-size: 25px;
    color: var(--dark-purple);
    margin: 10px auto;
}

.poster-desc .poster-title {
    width: 300px;
}

.poster-desc .poster-title .title {
    font-size: 30px;
    color: var(--dark-purple);
}

.poster-desc .poster-title .title-desc {
    font-size: 25px;
    line-height: 120%;
    color: var(--orange);
}
